<div class="wrapper">

  <h5>Select An Artist To Follow</h5><br>

  <div>
    <% @artists.each do |artist| %>
      <h5><%= render artist %></h5>
      <% if signed_in? %>
        <div id="follow_artist_button_<%= artist.id %>">
          <%= render "follow_artist_button", artist: artist %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
