<div class="wrapper">

  <%= form_for current_user do |form| %>
    <div>
      <%= form.check_box :gets_email %>
      <%= form.label "Check to receive weekly email updates of newly uploaded shows" %>
    </div>
    <div>
      <%= form.submit "Update Email Preferences" %>
    </div>
  <% end %>

  <div id="box-small4">
  </div>
</div>

