<div class="wrapper">

  <h5><%= link_to "Select Your Artists to Follow", artists_path %> <h5>

  <h5>You are following these artists: <h5>
    <% @followed_artists.each do |artist| %>
      <%= link_to artist.name, artist %><br>
    <% end %>
</div>
