.wrapper {
  @include outer-container;
}

#logo {
  color: blue;
}

.left-split {
  @include span-columns(6);
}

.right-split {
  @include span-columns(6);
}

body {
  background-color: #ffffff;
}

.left-large {
  @include span-columns(9);
  padding-top: 2em;
  padding-bottom: 2em;
}

.right-small {
  @include span-columns(3);
}

.notifier {
  padding-top: 1em;
  padding-bottom: 1em;
}
